/* globals.css */

:root {
  /* --white: #ffffff;
  --gray-10: #eeeeee;
  --gray-25: #aaaaaa;
  --gray-50: #707070;
  --gray-75: #444444;
  --black: #222222;
  --accent: #0d87e0; */
  /*   
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem);
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem);
  --heading1: clamp(2rem, 1.3rem + 3vw, 4rem);
  --heading2: calc(var(--body) * 1.5);
  --heading3: calc(var(--body) * 1.2);
  --small-heading2: clamp(0.875rem, 4vw - 1rem, 1.6875rem);
  --small-heading3: calc(var(--small-heading2) * 0.86);

  --space-xs: clamp(1.25rem, 1rem + 0.98vw, 1.875rem);
  --space-sm: calc(var(--space-xs) * 1.5);
  --space-md: calc(var(--space-xs) * 2);
  --space-lg: calc(var(--space-xs) * 3);
  --space-xl: calc(var(--space-xs) * 4);
  --space-jump: clamp(1.25rem, 0.35rem + 3.8vw, 3.75rem); */
}

body {
  color: var(--black);

  font-family: "Inter", "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #f4f5f7;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

span > img {
  transition: 0.2s;
}

body,
h1,
h2,
h3,
p,
figure,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
