.flexContainer {
  position: fixed;
  top: 0;
  left: 0;
    width: 100%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
  border-bottom: solid 1px black;
}
