.heroSection {
  padding-top: 55px;
}

.heroMedia {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background: #fde2e2; */
}

.heroVideo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======== モバイル対応 ======== */
@media (max-width: 1024px) {
  .heroSection {
    padding-top: 0px;
    margin-top: -55px;
  }
  .heroMedia {
    /* height: 100vh; */
  }

  .heroVideo {
  }
}
