/* styles/loading.module.css */

.loadingWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
}

.panel {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100%;
  background: black;
  transition: transform 1s ease;
}

.panel:first-child {
  left: 0;
  transform-origin: left;
}

.panel:last-child {
  right: 0;
  transform-origin: right;
}

.fadeOutLeft {
  transform: translateX(-100%);
}

.fadeOutRight {
  transform: translateX(100%);
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease;
}

.text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
  z-index: 10000;
  transition: opacity 1s ease;
}

.fadeOutText {
  opacity: 0;
}
