.flexContainer {
  composes: spaceBetween from "styles/utils.module.css";
  margin-top: 40px;
  gap: 1em;
}

.next {
  margin-left: auto;
}

.iconText {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
