/* styles/posts.module.css */

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-jump);
  margin: 0 auto;
  gap: 16px;
}

.post {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 0px;
  padding: 16px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}


.post:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post h2 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 400;
}

.post figure {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden; 
}


.post figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; 
}

.post:hover figure img {
  transform: scale(1.05); 
}

.post .publishDate {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
} 

.excerpt {
  font-size: 14px; 
  color: #666;     
  margin: 8px 0;
  line-height: 1.4;
}
@media (max-width: 1023px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 767px) {
  .gridContainer {
    grid-template-columns: 1fr; 
  }
}

/* 
@media (max-width: 1024px) {
}

@media (max-width: 1023px) {
}

@media (max-width: 820px) {
}

@media (max-width: 768px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
} */