.stack {
  padding: var(--space-sm) 0;
  margin-bottom: 48px;
}

.stack > * + * {
  margin-top: var(--stack-space, 1em);
}

.subtitle {
  font-size: 28px;
  font-weight: 700;
}

.title {
  font-size: 28px;
  /* --stack-space: 0.2em; */
}

.publish {
  display: flex;
  gap: 0.5em;
  color: var(--gray-50);
  font-size: var(--small-heading3);
}
