.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5%;
  gap: 20px;
  flex-direction: row-reverse; /* PCでは画像が右側 */
  height: 100vh;
  background-color: #b8f2e6;
}

/* 画像（右側 / モバイル時はトップ） */
.heroImage {
  flex: 1;
  max-width: calc(50% - 20px);
  display: flex;
  align-items: center; /* 垂直中央 */
  justify-content: center; /* 水平中央 */
  margin-top: 50px;
}

.heroImage img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

/* テキスト（左側） */
.heroContent {
  flex: 1;
  display: flex;
  max-width: calc(50% - 20px);
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}

.pageTitle {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 1.5rem;
  opacity: 0.8;
  margin-bottom: 20px;
}

/* ボタン3つを横並び */
.buttonGroup {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.heroButton {
  padding: 12px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.heroButton:hover {
  background-color: #0056b3;
}

/* ======== モバイル対応 ======== */
@media (max-width: 1024px) {
  .heroSection {
    height: 450px;
    gap: 40px;
    margin-top: 50px;
    /* flex-direction: column; 
    text-align: center;
    margin-top: 50px; */
  }

  /* 画像をトップにする */
  .heroImage {
    order: -1; /* 画像を最上部に移動 */
    text-align: center;
    max-width: 100%;
  }

  .heroImage img {
    /* width: 100%;
    max-width: 700px; */
  }

  /* テキスト（左側） */
  .heroContent {
    max-width: 100%;
    margin-top: 0px;
  }

  /* ボタンをモバイルでも横並びにする */
  .buttonGroup {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* 小さい画面でも折り返し可能 */
  }

  .heroButton {
    flex: 1;
    min-width: 150px; /* 小さすぎるボタンを防ぐ */
    text-align: center;
  }
}

@media (max-width: 768px) {
  .heroSection {
    margin-top: 50px;
  }

  .buttonGroup {
    margin-top: 20px;
  }

  .pageTitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .heroSection {
    margin-top: 10px;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 0;
    /* margin-top: 50px; */
  }

  .heroContent {
    margin-bottom: 60px;
    margin-top: 0px;
  }

  .pageTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 30px;
  }
}
