.flexContainer {
  composes: sideBySide from "./utils.module.css";
  gap: var(--space-md);
  margin: var(--space-md) 0 var(--space-lg);
}

@media (min-width: 768px) {
  .main {
    width: 768px;
  }
}
