.heroSection {
  width: 100%;
}

.heroImage {
  width: 100%;
  background-color: #caeefb;
}

/* video */
.video {
  width: 100%;
  height: 100vh;
  margin-top: 30px;
  display: block;
  object-fit: contain;
  opacity: 1 !important;
  transition: none !important;
  animation: none !important;
  filter: none !important;
}

@media (max-width: 1024px) {
  .video {
    height: 550px;
    object-fit: contain;
  }
}

@media (max-width: 480px) {
  .video {
    height: 85vh;
    margin-top: 0;
    object-fit: contain;
  }
}
